/* 
    #141414
    #FFFFFF
    #CCCCCC
    #CFBB93
    #8D8B87 
*/

body {
    background-color: #141414; 
    font-family: Helvetica, Arial, sans-serif; 
    font-size: 1.25rem; 
    line-height: 1.5;
    width: 100%;
}

h1 {
    font-size: 3rem; 
    font-weight: 600;
}

h2 {
    display: block; 
    font-size: 2rem; 
    font-weight: 400;
}

a {
    text-decoration: none; 
}

a:hover {
    color: #FA5050;
}

img {
    height: auto; 
    max-width: 100%; 
}


/* p {
    -webkit-hyphens: auto; 
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
} */

.font-white {
    color: #fff; 
}

.font-light-grey {
    color: #8D8B87;
}

.font-red {
    color: #FA5050;
}

.section-margin {
    margin-bottom: 12rem; 
}

.section-header {
    display: inline-block; 
    position: relative; 
}

.section-header::after {
    background-color: #FA5050;
    content: "";
    left: 0;
    height: 2px;
    margin: 1rem auto; 
    position: absolute; 
    right: 0;
    top: 100%;
    width: 50px;
}

.block-margin {
    margin-bottom: 4rem; 
}

.block-padding {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/* navbar */

nav {
    position: relative;
    z-index: 99;
}

#icon {
    height: 3rem;
}

#subtitle {
    height: 2.5rem; 
}

/* end navbar */

/* social */

.social {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    position: relative;
}

/* end social */

/* about */

.about-box {
    border-color: #8D8B87;
    border-style: solid;
    height: 11rem;
    position: relative; 
    width: 11rem; 
}

.about-box__banner {
    background-color: #141414;
    bottom: 2rem;
    border-color: #FA5050;
    border-style: solid; 
    left: 2rem;
    height: 10.8rem; 
    position: relative; 
    width: 10.8rem; 
    z-index: 1;
}

/* end about  */

.services-box {
    align-items: center;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
    display: flex; 
    flex-wrap: wrap; 
    height: 350px; 
    perspective: 1000px; 
    width: 100%;
}

.services-box:hover .services-box--card {
    transform: rotateY(180deg);
}

.services-box--card {
    position: relative; 
    transform-style: preserve-3d; 
    transition: transform 0.8s; 
    width: 100%;
}

.services-box--card__top {
    backface-visibility: hidden;
    height: 100%; 
    position: absolute;
    width: 100%; 
    -webkit-backface-visibility: hidden; 
}

.services-box--card__bottom {
    backface-visibility: hidden;
    transform: rotateY(180deg);
    width: 100%;
    -webkit-backface-visibility: hidden; 
}

